<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>littlechat</title>
	<link rel="stylesheet" href="stylesheets/style.css" />
</head>
<body>
	<div class="g_side">
		<span>联系人列表</span>
		<ul class="m_userlist">
			<li>傻毛</li>
			<li>傻仔</li>
			<li>小铭</li>
		</ul>
	</div>
	<div class="g_main">
		<ul class="m_dialogue">
			<li class="m_dialogue_l">
				<img src="" width="100px" height="100px" alt="傻毛" class="m_dialogue_l_picture" />
				<div class="m_dialogue_l_content m_dialogue_c">Hi</div>
				<div class="f_clear"></div>
			</li>
			<li class="m_dialogue_r">
				<img src="" width="100px" height="100px" alt="傻毛" class="m_dialogue_r_picture" />
				<div class="m_dialogue_r_content m_dialogue_c">Hi</div>
				<div class="f_clear"></div>
			</li>
		</ul>
	</div>
</body>
</html>
